<h2>
  <%#= Movie.find(params[:movie_id]).name %>
  <%= params[:date] %>日
  <%#= Schedule.find(params[:schedule_id]).start_time.hour %>時の回
  予約画面
</h2>
<%= Sheet.all.each do |s| %>
<% end %>
<table>
  <tr>
    <% Sheet.where(row: "a").each do |s| %>
      <td>
        <%= button_to "a-#{s.column}", "/movies/#{params[:movie_id]}/schedules/#{params[:schedule_id]}/reservations/new",
        {method: :get, params: {date: params[:date], sheet_id: s.id}} %>
      </td>
    <% end %>
  </tr>
  <tr>
    <% Sheet.where(row: "b").each do |s| %>
      <td>
        <%= button_to "b-#{s.column}", "/movies/#{params[:movie_id]}/schedules/#{params[:schedule_id]}/reservations/new",
        {params: {date: params[:date], sheet_id: s.id}} %>
      </td>
    <% end %>
  </tr>
  <tr>
    <% Sheet.where(row: "c").each do |s| %>
      <td>
        <%= button_to "c-#{s.column}", "/movies/#{params[:movie_id]}/schedules/#{params[:schedule_id]}/reservations/new",
        {params: {date: params[:date], sheet_id: s.id}} %>
      </td>
    <% end %>
  </tr>
</table>