<h1>上映一覧</h1>
<% Movie.all.each do |m| %>
  <h2>
    ID: <%= m.id %>
    作品名: <%= m.name %>
  </h2>
  <ul>
    <% Schedule.where(movie_id: m.id).each do |s| %>
      <li>
        <%# link_to "開始時刻：#{s.start_time.strftime( "%H:%M" )}終了時刻：#{s.end_time.strftime( "%H:%M" )}", "/admin/schedules/#{s.id}" %>
        <%= link_to "開始時刻：#{s.start_time}終了時刻：#{s.end_time}", "/admin/schedules/#{s.id}" %>
      </li>
    <% end %>
  </ul>
<% end %>

<h1>映画一覧</h1>
<table>
  <tr>
    <th>ID</th>
    <th>タイトル</th>
    <th>公開年</th>
    <th>概要</th>
    <th>画像URL</th>
    <th>上映中</th>
    <th>登録日時</th>
    <th>更新日時</th>
  </tr>
  <% Movie.all.each do |m| %>
    <tr>
      <td><%= m.id %></td>
      <td><%= m.name %></td>
      <td><%= m.year %></td>
      <td><%= m.description %></td>
      <td><img src="<%= m.image_url %>" alt=""></td>
      <% if m.is_showing %>
        <td>上映中</td>
      <% else %>
        <td>公開予定</td>
      <% end %>
      <td><%= m.created_at %></td>
      <td><%= m.updated_at %></td>
    </tr>
  <% end %>
</table>